/*### navigation-bar ###*/
@media only screen and (min-width: 720px) {
    .AI-Logo-1 {
        margin-top: 0.6%;
        margin-left: 35%;
        width: 3%;
    }
    nav {
        margin-left: 50%;
    }
    nav ul {
        margin-top: 0.6%;
    }
    nav li {
        margin-left: 25px;
    }
}

/*### main-container ###*/
@media only screen and (min-width: 720px) {
    #text-box-top {
        margin: 4.4% 15% 1% 15%;
    }
    #text-box {
        margin: 1% 15%;
    }
    h2 {
        padding: 1.5% 0;
    }
    .description {
        padding: 2%;
    }
}

@media only screen and (min-width: 720px) {
    #text {
        padding: 1%;
    }
}

/*### Atom-animation ###*/
@media only screen and (min-width: 720px) {
    #atom-box {
        padding: 5%;
        margin: 1% 15%;
    }
}

/*### 3D-AI ###*/
@media only screen and (min-width: 720px) {
    #rotate-AI {
        margin: 1% 15%;
    }
}

/*### footer ###*/
@media only screen and (min-width: 720px) {
    footer {
        margin: 1% 15%;
        font-size: 12px;
        text-align: center;
    }
    footer ul {
        list-style-type: none;
    }
    footer a {
        color: rgb(12, 228, 228);
    }
}