/*### navigation-bar1 ###*/
@media only screen and (min-width: 360px) {
    .container {
        justify-content: center;
        margin: 0 auto;
    }
}
@media only screen and (min-width: 361px) and (max-width: 600px) {
    .container {
        justify-content: center;
        margin: 0 auto;
    }
    nav ul {
        margin-left: 15px;
    }
    #text-box-top {
        margin: 12% 1% 1% 1%;
        border-radius: 8px;
    }
}
@media only screen and (min-width: 601px) and (max-width: 768px) {
    .container {
        justify-content: center;
        margin: 0 auto;
    }
    nav ul {
        margin-left: 15px;
    }
    #text-box-top {
        margin: 14% 1% 1% 1%;
        border-radius: 8px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .container {
        justify-content: center;
        margin: 0 auto;
        box-shadow: 0 4px 10px rgba(37, 177, 182, 0.2);
    }
    nav ul {
        margin-left: 15px;
    }
}
/*
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
    body {
        font-size: 22px;
    }
}

@media only screen and (min-width: 1200px) {
    body {
        font-size: 24px;
    }
}*/


/*### main-container ###*/
@media only screen and (min-width: 720px) {
    #text-box-top {
        margin: 1%;
    }
    #prev {
        margin-top: 10vh;
        padding: 0.7%;
    }
    #next {
        padding: 0.7%;
        margin-top: 10vh;
        margin-left: 93%;
    }

    .bg-div-home, .bg-div-articles, .bg-div-about, .bg-div-pages {
        height: 100vh;
    }

    /* rotate-AI */
    #rotate-AI {
        margin: 0;
    }

    #text-box {
        margin: 1% 15%;
    }
    #text {
        padding: 1%;
    }
    h2 {
        padding: 1% 0;
    }
    .description {
        margin: 3%;
        padding: 1%;
    }
}


/*###### background-animation ######*/
@media only screen and (min-width: 720px) {
    .bg-animation {
        height: 100vh;
    }

/* atom-box */
    #atom-box {
        margin: 1%;
    }
    .atom {
        margin: 45vh;
    }
}


/*##### footer #####*/
@media only screen and (min-width: 720px) {
    footer {
        text-align: center;
        padding: 25vh 0;
        font-size: 15px;
    }
}